	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/06/2020 18:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-android:before { content: "\f100"; }
.flaticon-iot:before { content: "\f101"; }
.flaticon-data-center:before { content: "\f102"; }
.flaticon-work:before { content: "\f103"; }
.flaticon-code:before { content: "\f104"; }
.flaticon-connection:before { content: "\f105"; }
.flaticon-experience:before { content: "\f106"; }
.flaticon-internship:before { content: "\f107"; }
.flaticon-course:before { content: "\f108"; }
.flaticon-mortarboard:before { content: "\f109"; }